.App {
  text-align: center;
}



.food-card {
 border-radius: 10px;
 border-style: solid;
 border-color: gray;
 margin: 10px;
 max-width: 275px;
}

.food-card img {
  margin: 10px 5px 10px 5px;
}

.food-card button{
  margin-bottom: 10px;
}

.food-list{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-evenly;
 
}